﻿{% extends "layout.html" %}
<link href="https://canvasjs.com/assets/css/jquery-ui.1.11.2.min.css" rel="stylesheet" />
{% block content %}
<input type="hidden" value="{{data[0].author_name}}" id="author_name" />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <h3>Tác giả: {{data[0].author_name}}</h3>
                <p>
                    <label>Tổng số bài báo:  </label>
                    {{total[0]}}
                </p>
                <hr />
                <h3>Danh sách các bài báo tiêu biểu</h3>
                <b>Xem theo:</b>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked onclick="LoadDSBai(0)">
                    <label class="form-check-label" for="inlineRadio1">Mới nhất</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" onclick="LoadDSBai(1)">
                    <label class="form-check-label" for="inlineRadio2">Phổ biến nhất</label>
                </div>
                <hr />
                <div id="dsbaibao"></div>
            </div>
            <div class="col-md-5" style="text-align:center">
                <div id="resizable" style="height: 370px;border:1px solid gray;">
                    <b class="text-center">Biểu đồ thống kê bài báo theo năm</b>
                    <div id="chartContainer1" style="height: 330px; width: 100%;"></div>
                </div>
                <br />
                <br />
                <div id="resizable1" style="height: 370px;border:1px solid gray;">
                    <b class="text-center">Biểu đồ thống kê bài báo theo chủ đề</b>
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="bieudo" value="{{bieu_do}}" />
<input type="hidden" id="dotron" value="{{do_tron}}" />
{% endblock %}
{% block scripts %}
<script src="https://canvasjs.com/assets/script/jquery-ui.1.11.2.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>
    LoadDSBai(0);
    function LoadDSBai(id) {
        $body.addClass("loading");
        var author_name = $('#author_name').val();
        var link = "/getbyauthor?tp=" + encodeURIComponent(author_name) + "&order=" + id;
        $.get(link,
            function (data) {
                if (!data || data.length == 0) {
                    $body.removeClass("loading");
                    return;
                }

                html = '';
                html += '<ul>';
                data.forEach(function (paper) {
                    html += '<li><p> <a class="" href="/paper/' + paper.id + '" target="_blank"> ' + paper.authors + ', <b>' + paper.title + '</b>, vol. ' + paper.volume + ', pp. ' + paper.page_start + '-' + paper.page_end + ', ' + paper.year + '</a></p ></li >';
                });
                html += '</ul>';
                $('#dsbaibao').html(html);
                $body.removeClass("loading");
            }, "json");
    }

</script>

<script>
    window.onload = function () {
        bieudo = $('#bieudo').val();
        dotron = $('#dotron').val();
        // Construct options first and then pass it as a parameter
        var options1 = {
            animationEnabled: true,
            title: {
                text: ""
            },
            data: [{
                type: "column", //change it to line, area, bar, pie, etc
                legendText: "",
                showInLegend: false,
                dataPoints: JSON.parse(bieudo)
            }]
        };

        $("#resizable").resizable({
            create: function (event, ui) {
                //Create chart.
                $("#chartContainer1").CanvasJSChart(options1);
            },
            resize: function (event, ui) {
                //Update chart size according to its container size.
                $("#chartContainer1").CanvasJSChart().render();
            }
        });


        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: ""
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: false,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: JSON.parse(dotron)
            }]
        });
        chart.render();
    }

    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }
</script>
{% endblock %}