﻿<script src="https://d3js.org/d3.v6.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://neo4j-documentation.github.io/developer-resources/language-guides/assets/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../static/content/site.css" rel="stylesheet" />
    <title>CITATION NETWORK</title>
    <style>
        .have-link:hover td {
            background-color: #bcbdbd !important;
        }
        .modalfake {
            display: none;
            position: fixed;
            z-index: 5001;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url('/static/image/loading.gif') 50% 50% no-repeat;
            background-color: rgb(159 158 158 / 40%) !important;
        }

        /* When the body has the loading class, we turn
        the scrollbar off with overflow:hidden */
        body.loading .modalfake {
            overflow: hidden;
        }

        /* Anytime the body has the loading class, our
        modalfake element will be visible */
        body.loading .modalfake {
            display: table;
        }

        .navbar-brand {
            display: inline-flex;
            padding: 0px !important;
        }

        .brand {
            vertical-align: middle;
            padding-top: 30px;
            font-weight: bold;
            font-size: 22px;
        }

        .select2-container .select2-selection--single {
            height: 34px !important;
        }

        .autocomplete1 {
            position: absolute;
            background-color: antiquewhite;
            width: 95%;
        }
        .autocomli {
            cursor: pointer;
        }
        .autocomli:hover{
            color:blue;
        }
    </style>
  
</head>

<body>
    <div class="modalfake">
        <p style="color: blue;font-weight: bold;font-size: 22px;height: 100%;width: 100%;display: table-cell;text-align:center;vertical-align:middle;padding-top: 200px;">Đang phân tích dữ liệu...!</p>
    </div>
    <div class=" body-content">
        <div role="navigation" class="navbar navbar-default navbar-static-top" style="padding:5px;">
                <div class="row">
                    <div class="col-sm-9 col-md-9 mt-2">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="keyword">Tìm theo tên bài báo</label>
                                <input type="text" class="form-control is-valid" id="keyword"
                                       placeholder="Nhập cụm từ có trong tên bài báo" value="">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="keyword">Tìm theo tên tác giả</label>
                                <input type="text" class="form-control is-valid" id="author"
                                       placeholder="Nhập tên tác giả" value="" onchange="SuggestAuthor()" autocomplete="off">
                                <div class="autocomplete1" id="autocomplete1"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="topic">Lọc theo chủ đề</label>
                                <select class="form-control select2" id="topic"></select>

                            </div>
                            <div class="col-md-2 mb-3">
                                <br>
                                <button class="btn btn-primary" style="margin-top: 5px;" onclick="GetPaper()">Tìm Kiếm</button>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-header col-sm-3 col-md-3">
                        <div class="navbar-brand">
                            <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" style="width:250px;height:70px">
                            <div class="brand">CITATION NETWORK</div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row" style="width:100%">
            <div class="col-md-12">
                <div class="panel panel-default" id="load-table">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; 2022 - Le Trung Hieu</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="../static/scripts/select2.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script>
        $body = $("body");
        LoadTopic();


        function OpenLink(event) {
            var domElement = $(event.target);
            url = '/paper/' + domElement.context.parentElement.attributes[2].value;
            window.open(url);
        }


        function LoadTopic() {
            var topic = $('#topic');
            topic.append('<option value="">Tất cả</option>');
            $.get("/gettopic",
                function (data) {
                    if (!data || data.length == 0) return;
                    data.forEach(function (t) {
                        topic.append('<option value="' + t.toppic_name + '">' + t.toppic_name + '</option>');
                    });
                    $('.select2').select2();
                }, "json");

        }

        function GetPaper() {
            $body.addClass("loading");
            var keywork = $('#keyword').val();
            var topic = $('#topic').val();
            var author = $('#author').val();
            var link = "/getpaper?tt=" + encodeURIComponent(keywork) + "&tp=" + encodeURIComponent(topic) + "&au=" + encodeURIComponent(author);
            $.get(link,
                function (data) {
                    $('#load-table').html(' <table id="results" class="table table-striped table-hover" ><thead> <tr ><th style="width:15%">Tên Bài Báo</th><th style="width:6%">Chủ Đề</th><th style="width:10%">Năm XB</th><th style="width:6%">Tác Giả</th><th style="width:auto">Tóm Tắt</th><th style="width:15%">Từ Khóa</th></tr></thead ><tbody ></tbody></table >');
                    const t = $("table#results tbody").empty();
                    if (!data || data.length == 0) {
                        $body.removeClass("loading");
                        return;
                    }
                    data.forEach(function (paper) {
                        $("<tr class='have-link' onclick='OpenLink(event)' data-href='" + paper.id + "'><td class=''>" + paper.title + "</td>" + "<td class=''>" + paper.topic_name +
                            "</td>" + "<td class=''>" + paper.year +
                            "</td>" + "<td class=''>" + paper.authors + "</td>" + "<td class=''>" + paper.abstract + "</td>" +
                            "<td class=''>" + paper.keywords + "</td>" + " </tr>").appendTo(t)
                    });
                    $body.removeClass("loading");
                    ReloadDB();
                }, "json");
        }

        function ReloadDB() {
            $("#results").DataTable({
                "lengthChange": false, "autoWidth": false,
                lengthChange: true,
                lengthMenu: [[20, 50, 100, 200, 500, -1], [20, 50, 100, 200, 500, "Tất cả"]],
                paging: true,
                "ordering": false,
                "pagingType": "full_numbers",
            });

        }

        function SuggestAuthor() {
            var author = $('#author').val();
            if (author.length > 0) {
                var link = "/getauthor?au=" + encodeURIComponent(author);
                $.get(link,
                    function (data) {
                        var recommends = $('#author').closest('div').find('.autocomplete1');
                        recommends.empty();
                        if (!data || data.length == 0) {
                            return;
                        }
                        recommends.empty();
                        recommends.append('<ul class="autoFill" id="autoFill"> </ul>');
                        var recommends1 = $('#author').closest('div').find('.autoFill');
                        data.forEach(function (item, index) {
                            recommends1.append('<li class="autocomli" onclick="getSelectedValue()" id="' + item.author_name + '">' + item.author_name + '</li>');
                        });
                    }, "json");
            }
        }


        function getSelectedValue() {
            var name = $(event.target)[0].id;
            $('#author').val(name);
            $('.autoFill').remove();

        }


    </script>
    {% block scripts %}

    {% endblock %}

</body>
</html>
