﻿{% extends "layout.html" %}
{% block content %}
<style>
    a {
        cursor: pointer;
        color: blue;
    }
    .edge.active text {
        /*display: block !important;*/
    }
    .edge .edge-line {
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.css">
<input type="hidden" id="tenbaibao" value="{{data[0]['title']}}" />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <h3>Bài báo: {{data[0]['title']}}</h3>
                <hr />
                <p>
                    <label>Tác giả: </label>
                    {% for item in data[0]['authors'] %}
                    <a class="green-text" href="/authors/{{item}}">{{item}}</a>;
                    {% endfor %}
                </p>
                <h5>Bạn có thể đọc bài báo tại:</h5>
                {% for item in data[0]['url'] %}
                <p><a class="" href="{{item}}" target="_blank">{{item}}</a></p>
                {% endfor %}
                <hr />
                <h4><b>Abstract</b></h4>
                <p>{{data[0]['abstract']}}</p>
                <hr />
                <h4><b>Thông tin: </b></h4>
                <ul>
                    <li>Chủ đề: <a href="/topic/{{data[0]['topic_name']}}">{{data[0]['topic_name']}}</a> </li>
                    <li>Năm xuất bản: {{data[0]['year']}}</li>
                    <li>Từ khóa: <span style="color:blue">{{data[0]['keywords'].replace(',',', ')}}</span> </li>
                </ul>
                <hr />
                <ul class="nav nav-tabs" style="margin-bottom:30px">
                    <li class="active"><a data-toggle="tab" href="#home" class="btn btn-warning">Liên quan nhất</a></li>
                    <li><a data-toggle="tab" href="#menu0" class="btn btn-warning">Bài báo được trích dẫn</a></li>
                    <li><a data-toggle="tab" href="#menu1" class="btn btn-warning">Bài báo đã trích dẫn</a></li>
                    <li><a data-toggle="tab" href="#menu2" class="btn btn-warning">Bài báo cùng chủ đề ({{data[0]['topic_name']}})</a></li>
                </ul>
                <div class="tab-content" style="max-height:500px;overflow:scroll;padding-bottom:20px">
                    <div id="home" class="tab-pane fade in active">
                        <ul>
                            {% for item in relate%}
                            <li>
                                <p><a class="" href="{{item['paper_id']}}" target="_blank"> {{item['authors']}}, <b>"{{item['title']}}"</b>, vol. {{item['volume']}}, pp. {{item['page_start']}}-{{item['page_end']}}, {{item['year']}}</a></p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="menu0" class="tab-pane fade">
                        <ul>
                            {% for item in citing%}
                            <li>
                                <p><a class="" href="{{item['paper_id']}}" target="_blank"> {{item['authors']}}, <b>"{{item['title']}}"</b>, vol. {{item['volume']}}, pp. {{item['page_start']}}-{{item['page_end']}}, {{item['year']}}</a></p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <ul>
                            {% for item in cited%}
                            <li>
                                <p><a class="" href="{{item['paper_id']}}" target="_blank"> {{item['authors']}},  <b>"{{item['title']}}"</b>, vol. {{item['volume']}}, pp. {{item['page_start']}}-{{item['page_end']}}, {{item['year']}}</a></p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <ul>
                            {% for item in lienquan%}
                            <li>
                                <p><a class="" href="{{item['paper_id']}}" target="_blank"> {{item['authors']}},  <b>"{{item['title']}}"</b>, vol. {{item['volume']}}, pp. {{item['page_start']}}-{{item['page_end']}}, {{item['year']}}</a></p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div>
                    <h3>
                        Đồ thị mô tả
                    </h3>
                    <div id="alchemy" class="alchemy"></div>
                    <hr />
                    <h4><b>Thông tin chi tiết</b></h4>
                    <p id="tenhienthi">Tác Giả </p>
                    <p id="noidunghienthi">Được trích dẫn bởi </p>
                </div>
                <div>
                    <hr />
                    <h3>
                        Đồ thị sự ảnh hưởng của bài báo theo thời gian
                    </h3>
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                </div>
                <div>
                    <hr />
                    <h3>
                        Đồ thị phân bố chủ đề của các bài báo trích dẫn
                    </h3>
                    <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="graph-data" value="{{graph}}" />
<input type="hidden" id="bieudo" value="{{bieudore}}" />
<input type="hidden" id="bieudotron" value="{{bieudotron}}" />
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.1/scripts/vendor.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>
    window.onload = function () {
        bieudo = $('#bieudo').val();
        bieudotron = JSON.parse($('#bieudotron').val());
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            zoomEnabled: true,
            theme: "dark2",
            title: {
            },
            axisX: {
                title: "Năm",
                valueFormatString: "####",
                interval: 2
            },
            axisY: {
                logarithmic: true, //change it to false
                title: "Số bài đã trích dẫn",
                titleFontColor: "#6D78AD",
                lineColor: "#6D78AD",
                gridThickness: 0,
                lineThickness: 1,
                labelFormatter: addSymbols
            },
            axisY2: {
                title: "Số bài đã trích dẫn",
                titleFontColor: "#51CDA0",
                logarithmic: false, //change it to true
                lineColor: "#51CDA0",
                gridThickness: 0,
                lineThickness: 1,
                labelFormatter: addSymbols
            },
            legend: {
                verticalAlign: "top",
                fontSize: 16,
                dockInsidePlotArea: true
            },
            data: [{
                type: "line",
                xValueFormatString: "####",
                axisYType: "secondary",
                showInLegend: true,
                name: "Trích dẫn bài báo: "+ $('#tenbaibao').val(),
                dataPoints: JSON.parse(bieudo)
            }]
        });
        chart.render();

        var chart1 = new CanvasJS.Chart("chartContainer1", {
            animationEnabled: true,
            title: {
            },
            data: [{
                type: "doughnut",
                startAngle: 60,
                //innerRadius: 60,
                indexLabelFontSize: 17,
                indexLabel: "{label} - #percent%",
                toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                dataPoints: bieudotron
            }]
        });

        chart1.render();


        function addSymbols(e) {
            var suffixes = ["", "K", "M", "B"];

            var order = Math.max(Math.floor(Math.log(e.value) / Math.log(1000)), 0);
            if (order > suffixes.length - 1)
                order = suffixes.length - 1;

            var suffix = suffixes[order];
            return CanvasJS.formatNumber(e.value / Math.pow(1000, order)) + suffix;
        }
    }

    data = $('#graph-data').val();
    var some_data =
    {
        data
    };
    var graph = $('#graph-data').val();
    var config = {
        dataSource: JSON.parse(graph),
        cluster: true,
        clusterColours: ["#DD79FF", "#00FF30", "#5168FF", "#f83f00", "#ff8d8f", "#ff8d8f", "#ff8d8f", "#ff8d8f", "#ff8d8f", "#ff8d8f"],
        forceLocked: false,
        nodeCaption: "title",
        nodeMouseOver: 'caption',
        edgeCaption: "relatedness",
        nodeCaptionsOnByDefault: true,
        edgeCaptionsOnByDefault: true,
        nodeTypes: { "type": ["philosopher"] },
        edgeTypes: { "type": ["philosopher"] },
        directedEdges: true,
        nodeStyle: {
            "goc": {
                "radius": 40
            },
            "tacgia": {
                "radius": 30
            }
        },
        edgeStyle: {
            "all": {
                "width": 4,
                "color": "#CCC",
                "opacity": 0.7,
                "selected": {
                    "opacity": 1
            },
            "highlighted": {
                    "opacity": 1
            },
            "hidden": {
                    "opacity": 0
            }
            }
        },
        "nodeClick": function (node) {
            if (node._properties.type == "goc") {
                $("#tenhienthi").html('Bài báo: ' + $('#tenbaibao').val());
                $("#noidunghienthi").html('');
            }
            else if (node._properties.type == "tacgia") {
                $("#tenhienthi").html('Tác giả: ' + node._properties.title);
                $("#noidunghienthi").html('Tác giả của bài báo: ' + $('#tenbaibao').val());
            }
            else if (node._properties.type == "trichdan") {
                $("#tenhienthi").html('Bài báo: ' + node._properties.caption);
                $("#noidunghienthi").html('Trích dẫn bởi bài báo: ' + $('#tenbaibao').val());
            } else  {
                $("#tenhienthi").html('Bài báo: ' + node._properties.caption);
                $("#noidunghienthi").html('Đã trích dẫn bài báo : ' + $('#tenbaibao').val());
            }
        },

        initialScale: 0.7,
        initialTranslate: [250, 150],
        graphHeight: function () { return 400; },
        graphWidth: function () { return 500; },
    };

    alchemy = new Alchemy(config)

</script>
{% endblock %}